@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.baseColor {
    color: #0084ff !important;
}

.themeColor {
    color: #ff6600;

}

.bgTheme {
    background-color: #53C351;
}

.bgTheme:hover {
    background-color: #58cf56;
}

.bgColor {
    background-color: #0084ff;
}


.bgHover:hover {
    background-color: #1c91ffda;
}

.bgHover:active {
    background-color: #1c91ffda;
}

.btn-outline-base {
    color: #0084ff;
    border: 1px solid #0084ff;
}

.btn-outline-base:hover {
    color: white;
    background-color: #0084ff;
}

h5 {
    font-size: 17.5px;
}

.rounded-12 {
    border-radius: 12px;
}

.text-base {
    color: #2a2638 !important;
}

.text-sm {
    font-size: 12px;
}

.text-secondary {
    color: rgb(155, 162, 180) !important;
}

.text-secondary-light {
    color: rgb(203, 209, 223);
}

.bg-secondary-light {
    background-color: rgb(203, 209, 223);
}

.fw-bold {
    font-weight: 600 !important;
}

.fw-bolder {
    font-weight: 700 !important;
}

.shadow-base {
    box-shadow: -4px 4px 20px rgba(118, 126, 148, 0.2);
}

p {
    font-size: 14px;
    margin: 0;
    margin-left: 1px;
}

label {
    font-size: 14px;
}

section {
    margin-bottom: 100px;
}

select,
input {
    border: 0 !important;
    padding: 0 !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
}

section {
    margin-bottom: 0px;
}

.position-fixed {
    z-index: 9999;
}

.navbar-expand-lg.scrolled {
    background-color: white !important;
    box-shadow: -1.5px 4px 16px rgba(118, 126, 148, 0.2);
    transition: background-color 200ms linear;
}

.navbar-expand-lg.scrolled .nav-link,
.navbar-expand-lg.scrolled .drdwn {
    color: rgba(19, 19, 19, 0.6) !important;
}

.navbar-expand-lg.scrolled .login {
    color: #0084ff !important;
    background-color: #e9e6ff;
}

.navbar .navbar-collapse a {
    font-size: 14px;
    font-weight: 600;
}

.navbar .navbar-nav a:hover {
    color: #2a2638 !important;
}

.navbar .navbar-nav .active {
    border-bottom: 2px solid #53C351;

}

.navbar .btn-signup,
.navbar-expand-lg .login,
.btn-login {
    border-radius: 12px;
    padding: 7.6px 32px 8px 32px;
}

.navbar .navbar-nav a:hover.btn-signup:hover {
    color: white !important;
}

.hero {
    background-color: #1C3A27;
    padding: 100px 0px;
    color: white;
}

@media (min-width: 767px) {

    .hero-text {
        margin-top: 140px !important;
    }


}


#whychose-section-main,
#howhelp-section-main,
#articel-section-main {
    padding-top: 70px;
}

.howhelp-section img {
    border-radius: 12px;
}

.articel-section {
    background-color: #F0F8FA;
}

.whychose-section {
    min-height: 720px;
    background: #F0F8FA;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-salam {
    line-height: 39px;
    color: #474A4D;
    font-weight: bold;
    font-size: 2rem;
}

.card-chose {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgb(0 83 77 / 20%);
    border-radius: 15px 5px;
    padding: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
    min-height: 260px;
}

.card-chose:hover {
    box-shadow: 0px 4px 8px rgb(0 83 77 / 20%) !important;
    transition: 0.3s;
    scale: 1.02;
}

.howhelp-section {
    background: #ffffff;
    padding: 20px 0px;
}


.team-section {
    padding: 140px 0px !important;
    background-color: #F0F8FA !important;
}

@media (min-width: 767px) {

    .howhelp-section,
    .team-section {
        background: #ffffff;
        padding: 60px 0px;
    }



}

.card.card-training {
    background: #ffff;
    border: 1px !important;
    border-radius: 14px;

}


.card-training a.card-body {
    text-decoration: none;
}

.card-training .card-body .card-title {
    color: #03173C !important;
    font-weight: 500;
    font-size: 18px !important;
}

.card-training .card-body p {
    font-weight: 500;
    font-size: 16px;
    color: rgba(19, 19, 19, 0.5);
}

.card-training .card-body .price {
    font-weight: 600;
    font-size: 18px;
    color: #4F94D7;
}

.card-training .card-body span.off {
    color: #F48C06;
}

.card-training .card-body span.on {
    color: #0B9F84;
}

.training,
.articel {
    margin-bottom: 40px;
}

.card-img-top {
    width: 100%;
    height: 180px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 14px;
}

.card.card-training {
    min-height: 365px;
    transition: 0.3s;
}

.card.card-training:hover {
    box-shadow: 0 0 10px #53C351 !important;

}



.properties h2,
.service h2,
.offer h2 {
    line-height: 46px;
}

.properties .header .deskripsi {
    line-height: 26px;
    width: 36%;
}

.properties .properties-list {
    width: 102%;
    cursor: grab;
    user-select: none;
    margin-left: -28px;
    overflow-x: scroll;
    overflow-y: unset;
}

.properties .properties-list::-webkit-scrollbar {
    width: 0;
}

.properties .properties-list.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.properties .properties-list .property {
    top: 0px;
    width: 270px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 12px;
    margin: 0 26px;
    overflow: hidden;
    transition: all ease 0.3s;
    box-shadow: 0px 0px 20px rgba(133, 143, 177, 0.2);
}

.properties .properties-list .property.transport {
    top: 0px;
    width: 400px;
    height: auto;
    flex-shrink: 0;
    border-radius: 12px;
    margin: 0 26px;
    overflow: hidden;
    transition: all ease 0.3s;
}

.properties .properties-list .property .rating {

    background-color: #f5f2ff;
    padding: 6px 14px 4px 14px;
    border-radius: 20px;
    margin-left: -2px;
}

.properties .properties-list .property:hover {
    top: -4px;
    box-shadow: 0px 0px 20px rgba(133, 143, 177, 0.2);
}

.properties .properties-list .property .card-img-top,
.related .card-img-top {
    width: 100%;
    height: 180px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
}

.footer-2-3 .list-space {
    margin-bottom: 1.25rem;
}

.footer-2-3 .footer-text-title {
    font: 600 1.5rem Poppins, sans-serif;
    margin-bottom: 1.5rem;
}

.footer-2-3 .list-menu {
    color: #707092;
    text-decoration: none !important;
}

.footer-2-3 .list-menu:hover {
    color: #ffffff;
}

.footer-2-3 hr.hr {
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(46, 46, 90, 1);
}

.footer-2-3 .border-color {
    color: #707092;
}

.footer-2-3 .footer-link {
    color: #707092;
}

.footer-2-3 .footer-link:hover {
    color: #ffffff;
}

.footer-2-3 .social-media-c:hover circle,
.footer-2-3 .social-media-p:hover path {
    fill: #ffffff;
}

.content-8-4 .social-media-c:hover circle,
.content-8-4 .social-media-p:hover path {
    fill: #ffffff;
}

.footer-2-3 .footer-info-space {
    padding-top: 3rem;
}

.footer-2-3 .list-footer {
    padding: 5rem 1rem 3rem 1rem;
}

.footer-2-3 .info-footer {
    padding: 0 1rem 3rem;
}

@media (min-width: 576px) {
    .footer-2-3 .list-footer {
        padding: 5rem 2rem 3rem 2rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 2rem 3rem;
    }
}

@media (min-width: 768px) {
    .footer-2-3 .list-footer {
        padding: 5rem 4rem 6rem 4rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 4rem 3rem;
    }
}

@media (min-width: 992px) {


    .footer-2-3 .info-footer {
        padding: 0 6rem 3rem;
    }
}

.bg-green {
    background-color: #0B9F84;
}

.header-login {
    color: white;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
}

.caption-login {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    letter-spacing: 0.01em;
    text-transform: capitalize;

    color: #FFFFFF;

    margin-top: 20px;
}

.bg-card-register {
    background-color: #E1F3ED;
}